# Hoists dependencies matching the pattern to the root modules directory.
# Defaults to ['*eslint*', '*prettier*'].
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
# Hoists next.js to the root so ESLint extensions for VS Code will have access
# to "next/babel" module. For more information, see
# https://github.com/vercel/next.js/issues/40687#issuecomment-1370765060
public-hoist-pattern[]=next
